
body {
  margin:0;
  padding:0;
  -webkit-user-select: none;
  user-select: none;
}

#board {
 position: relative;
 height: 100%;
 width: 100%;
}

#bomber-wrapper {
 position: absolute;
 background-color: #8e8e8e;
 height: 80px;
 width: 100%;
}

#grass {
 position: absolute;
 background-color: #527E3D;
 width: 100%;
 top: 80px;
 bottom: 60px;
}

#logo-wrapper {
 position: absolute;
 background-color: #000000;
 height: 60px;
 width: 100%;
 bottom: 0;
}

  
#player1 {
  position:absolute;
  transform:translateZ(100);
  transform-origin:50% 50%;
  z-index:99;
  bottom:120px;
  content:url('images/bucketh.png');
  visibility:hidden;
}

#bomber {
  position:absolute;
  top:22px;
  z-index:99;
  content:url('images/bomber-madh.png');
  visibility:hidden;
}
  
.bomb {
  content:url('images/bombh.png');
  position:absolute;
}